{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}



    <h1>Hello {{current_user.username}}you are logged in.</h1>
 
<h1>URL Shortener</h1>  
<hr/>
<form action="#", method="post">
    <h3>Enter an URL that starts with https:// </h3>
    <input type="url" name="urlInput" id="url"
    placeholder="https://example.com"
    pattern="https://.*" size="50"
    required>
    <br>
    <input type="submit" value="submit" class="btn btn-primary">
</form>
<h2>List of URL's</h2>
{%if current_user.is_authenticated %}
<div class="maintable">
<table id="dtVerticalScrollExample" cellspacing="0"
  width="100%" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original URL</th>
      <th scope="col">Shortened Code</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
        <tr>
            <th scope="row">{{url.id_}}</th>
            <td>{{url.longUrl}}</td>
            <td>{{url.shortUrl}}</td>
        </tr>
     {% endfor %}
  </tbody>
</table>
{% endif %}
</div>



    <a href="{{url_for('logout')}}">Press here to logout</a>
    {% endblock %}